<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> OS Shop </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .container {
            height: 400px;
        }
    </style>
</head>



<body>
<!-- header -->
<nav th:insert="fragments/navbar :: nav_fragment"></nav>



<div class="container bg-primary">
    OS Shop!
</div>



<!-- footer -->
<footer th:insert="fragments/footer :: footer_fragment"></footer>

</body>
</html>